// Add any custom Sass & CSS here
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

.warn{
  text-align: center;
  color: red;
}

.useraddbtn {
  width: 82%;
  margin-left: 9%;
}

.userdelbtn {
  float: right;
}

#addUser {
  input {
    width: 50%;
    margin-left: 25%;
  }

  .submitbtn {
    margin-left:47%;
    margin-right:50%;
    position: relative;
  }
}

#userdetail {
  .notfoundbtn {
    width: 80%;
    margin-left: 10%;
  }

  table {
    width: 80%;
    margin-left: 10%;

    button {
      float: right
    }
  }
}