<div id="taskdetail">
    <h1 ng-bind="task.name" ng-show="task"></h1>

    <div ng-hide="task">
        Task not exist
    </div>
    <hr />

    <div class="detailbody" ng-show="task">
        <a href="#/task/{{task._id}}/edit">
            <button class="button">Edit</button>
        </a>
        <table>
            <tbody>
            <tr>
                <td>Assigned User</td>
                <td>
                    <span ng-if="task.assignedUserName !== 'unassigned'">
                        <a ng-href="#/user/{{task.assignedUserId}}"><span ng-bind="task.assignedUserName"></span></a>
                    </span>
                    <span ng-if="task.assignedUserName === 'unassigned'">
                        * UNASSIGNED
                    </span>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <span ng-bind="task.description"></span>
                </td>
            </tr>
            <tr>
                <td>Deadline</td>
                <td>
                    <span ng-bind="task.deadline"></span>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <span ng-bind="task.completed"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
